body{
  margin:0;
  height: 100vh;

    background-size: cover;

  }
  .bac{
    z-index: -1;
      background-image:url(https://hotel-lviv.com.ua/upload/menu/2/s_img_0021.jpg);
    width: 100%;
    position: fixed;
    height: 150vh;
    background-repeat: no-repeat;
    background-size: cover;
	background-position: 50% 50%;
	padding: 120px 0;

  }
.menu{
position:relative;
margin-left: 5%;
  width: 90%;
 height:10vh;
 background:rgba(0,0,0,.5);
z-index: 10;
border-radius: 50% 20% / 10% 40%;


 border-radius:70px; }
.nav-bar{
  color: white;
  display:flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
  margin-top: 0px;
  padding-right: 40px;
  height: 7vh;
  margin: 0px;}
.nav-bar>li{
  margin-left: 20px;
  margin: 0;
}
.bar{
	top: 50px;
    padding-top: 20px;
	position: absolute;
  display: none;
  list-style-type: none;
  width: 16%;
  border-radius: 50% 20% / 10% 40%;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbarrZ13cAlNoJbRxYd7RWY9TGHa_md2uzzWKV72hCcOz1ssqoFw_Rrp1p94YXe2gUDb0&usqp=CAU)
}
.nav-bar>li:hover .bar{
  display: flex;

  flex-direction: column;}
hr{

 display: none;}
.nav-bar>li:hover hr{
  display: block;
}
a{
  text-decoration: none;
color: white;}
.inv{
  background: rgba(0, 0, 0, 0.5);
  color:white;
  height: Auto;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}


.text{
	padding: 30px 30px;
	margin-top: 50px;
}
li{
  font-size: 15px;
}
p{
  font-size: 20px;
  color:orange;
}
.a{
  color: orange;
}
.coffy{
  display: flex;
}
.aa{
  display: block;
}
.room{
  display: flex;
  margin-top: 50px;
}
.human{
  color: white;
}
.d_human{
  display: flex;
  width: 100%;
  justify-content:space-around;
  margin-left: 10px;

}
.com{
  width: 100%;
  margin-left: 30px;
}
.s_human{
  margin-left: 4px;
}
.img{
  width: 500px;
  height: 500px;

    height: auto;
    object-fit: cover;
    transition: all .3s linear;
    border: 2px solid white;
}
.img:hover{
  transform: scale(1.1);
}
@media screen and (max-width:960px) {
	
	.room{
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
	}
.img{
	width:350px;
	height:350px;
}
	
	
}
@media screen and (max-width:500px){
.inv{
		margin-left:25%;
		width:200%;
	}
	.bac{
		padding:260 0;
	}
	
	
	
}
@media screen and (max-width:250px){

	.bac{
		padding:560 0;
	}
	.inv{
		width:300%;
	}
	
	
}
@media screen and (max-width:190px){

	.bac{
		padding:760 0;
	}
	
	
	
}